
<div class="row">
    <!-- Componente de búsqueda para buscar personajes de Dragon Ball Z -->
    <dbz-search (eventSearch)="searchDbz($event)" />
</div>

<!-- Componente de paginación para navegar entre los resultados -->
<Dbz-pagi (eventNewDbzs)="setNewDbz($event)" />

<!-- Componente que muestra las tarjetas de personajes de Dragon Ball Z -->
<Dbz-card [dbzAll]="dbzs" />

<!-- Componente de paginación nuevamente para permitir la navegación entre más resultados -->
<Dbz-pagi (eventNewDbzs)="setNewDbz($event)" />
