<!-- Lista de cartas -->
<div class="container">
    <div class="row mt-3 mb-3 g-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="#" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Duplicar el div anterior para más tarjetas, si es necesario -->
    </div>
</div>


