/* Estilos para el modal */
.modal-content {
    background-color: #f7f8fa; /* Fondo claro */
    border: 2px solid #ffcb05; /* Borde color amarillo Pokémon */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    background-color: #3b4cca; /* Fondo azul de tipo Pokémon */
    color: #fff;
    border-bottom: 2px solid #ffcb05;
  }
  
  .modal-title {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 1px;
  }
  
  .btn-close {
    background-color: #ffcb05;
    border-radius: 50%;
  }
  
  .modal-body {
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .modal-body img {
    border: 3px solid #3b4cca;
    border-radius: 10px;
    background-color: #f0f0f0;
    max-width: 100%; /* Se ajusta al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 250px; /* Aumenta el tamaño de la imagen */
  }
  
  
  .modal-body p {
    font-size: 16px;
    font-weight: bold;
  }
  
  .modal-body h6 {
    font-size: 18px;
    color: #3b4cca;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .modal-body ul {
    padding-left: 0;
  }
  
  .modal-body ul li {
    list-style: none;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .modal-footer {
    background-color: #ffcb05;
    border-top: 2px solid #3b4cca;
    text-align: center;
  }
  
  .btn-secondary {
    background-color: #3b4cca;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color: #2a39a3;
  }
  
  @font-face {
    font-family: 'Pokemon Solid';
    src: url('https://fonts.cdnfonts.com/s/25409/Pokemon-Solid.ttf') format('truetype');
  }
  
  